@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #f7f8f9;
}

.main-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #0e182a;
  justify-content: end;
  align-items: end;
}

.overlay {
  width: 30%;
  height: 100%;
  background-color: #111723;
  /* background-color: pink; */
  border-left: 1px solid #353a42;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* row-gap: 24px; */
}

.header-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: #2e269e;
  padding: 24px;
}

.title-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: fit-content;
  height: auto;
}

.title h4 {
  font-size: 18px;
  font-weight: 500;
}

.title-icon i {
  color: #8b9bf4;
  height: 24px;
  width: 24px;
}

.header-text {
  width: 100%;
  height: auto;
}

.header-text p {
  color: #8b9bf4;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.2;
}

.input-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  /* background-color: paleturquoise; */
  padding: 24px;
}

.project {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.description {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.project label {
  color: #f5f6f7;
  font-size: 16px;
  font-weight: 500;
}

.project-input {
  width: 100%;
  height: 100%;
  border: solid 1px #353a42;
  padding: 8px;
  border-radius: 8px;
  background-color: #1d232e;
  font-size: 16px;
  font-weight: 400;
}

.textarea-input {
  width: 100%;
  height: 100%;
  border: solid 1px #353a42;
  padding: 8px;
  border-radius: 8px;
  background-color: #1d232e;
  font-size: 16px;
  font-weight: 400;
}

.textarea-input :active {
  border: solid 1px #2e269e;
}

.team {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  /* background-color: red; */
  padding: 12px 24px;
}

.team-members {
  width: 100%;
  height: auto;
}

.team-members h4 {
  color: #f5f6f7;
  font-size: 16px;
  font-weight: 500;
}

.avatars {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.image-wrap {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.image-wrap img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.add-container {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 1px dashed #353a42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-container i {
  color: #353a42;
}

.privacy-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 12px 24px;
}

.privacy-text {
  width: 100%;
  height: auto;
}

.privacy-text h4 {
  color: #f5f6f7;
  font-size: 16px;
  font-weight: 500;
}

.radio-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.radio-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 12px;
}

.text-wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  /* background-color: aqua; */
}

.public-text {
  width: 100%;
  height: auto;
}

.public-text h4 {
  color: #f5f6f7;
  font-size: 16px;
  font-weight: 500;
}

.public-p {
  width: 100%;
  height: auto;
}

.public-p p {
  color: #8d97a5;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.2;
}

.checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid #6b7280;
  border-radius: 50%;
  position: relative;
  margin-top: 4px;
}

.radio-item input {
  display: none;
}

.more {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 12px 24px;
  /* background-color: pink; */
}

.copy-link {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: start;
  justify-content: start;
}

.copy-text {
  width: fit-content;
  height: auto;
}

.copy-text p {
  color: #6d7bff;
  font-size: 16px;
}
.link i {
  color: #6d7bff;
}
.learn-more {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: start;
  justify-content: start;
}

.question i {
  color: #3f4b59;
}

.learn {
  width: fit-content;
  height: auto;
}

.learn p {
  color: #3f4b59;
}

hr {
  width: 100%;
  border: 0.5px solid rgba(141, 151, 165, 0.2);
}

.button-wrapper {
  /* background-color: pink; */
  width: 100%;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  border-top: 0.5px solid rgba(141, 151, 165, 0.2);
  justify-content: end;
  align-items: center;
}

.cancel-button {
  width: fit-content;
  height: auto;
}

.cancel-button button {
  padding: 12px 16px;
  background-color: #1d232e;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: 0.5px solid rgba(141, 151, 165, 0.1);
}

.save-button {
  width: fit-content;
  height: auto;
}

.save-button button {
  padding: 12px 16px;
  background-color: #2e269e;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
